
.landing-wrapper {
  margin-top: 6%;

}


.welcomeName{
  color: #ff5242;
  font-size: 40px;
  font-weight: bold;
}

.explanationParagraph {
  margin-left: 33%;
  margin-right: 33%;
  font-size: 20px;
  margin-bottom: 2%;



}
