.App {

}

.landing-wrapper {
  text-align: center;
}

.degree-wrapper {
  text-align: center;
  padding-bottom: 200px;
}

.select-menu {
  text-align: left;
}

.explore-content-wrapper {
  text-align: center;
  margin-top: -20px;
}

#explore-home-btn {
  margin: 36px 0 0 26px;
}

.explore-desc {
  max-width: 700px;
  margin: 0 auto;
}

.explore-btn {
  border: 2px solid black;
  background-color: white;
  color: black;
  padding: 7px 14px;
  font-size: 16px;
  cursor: pointer;
  margin:10px;
}

.explore-btn:hover {
  background-color: orange;
  color: white;
}

.explore-btn a {
  text-decoration: none;
  color: black;
}

.select-wrapper {
  max-width: 500px;
  margin: 50px auto;

}

.select-menu {
  width: 400px;
  margin: 0 auto;
}

.degree-listing-wrapper {
  margin: 0.5em;
}

.degree-listing-flex {
  max-width: 800px;
  margin: 15px auto;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.degree-listing-button {
  font-size: 1em;
  padding: 2px;
  width: 235px;
}

.degree-listing-name {
  flex-basis: 60%;
  font-weight: 400;
  font-size: 1.5em;
  text-align: left;
}

.degree-listing-desc {
  margin: 10px auto;
  text-align: left;
  max-width: 800px;
}

.info-icon {
  width: 20px;
}

.arrow-icon {
  width: 10px;
}

/* explore page styles */
@media screen and (max-width:480px){
  .explore-content-wrapper {
    margin: 10px 20px;
  }

  .select-menu {
    width: 335px !important;
  }

  .degree-listing-name {
    font-size: 1em;
    margin-right:10px;
  }

  .degree-listing-button .explore-btn {
    margin: 3px;
    padding: 5px;
    font-size: .75em;
  }


}
