.App {

}

.landing-wrapper {
  text-align: center;
}

.degree-wrapper {
  text-align: center;
  padding-bottom: 200px;
}

.select-menu {
  text-align: left;
}

.explore-content-wrapper {
  text-align: center;
  margin-top: -20px;
}

#explore-home-btn {
  margin: 36px 0 0 26px;
}

.explore-desc {
  max-width: 700px;
  margin: 0 auto;
}

.explore-btn {
  border: 2px solid black;
  background-color: white;
  color: black;
  padding: 7px 14px;
  font-size: 16px;
  cursor: pointer;
  margin:10px;
}

.explore-btn:hover {
  background-color: orange;
  color: white;
}

.explore-btn a {
  text-decoration: none;
  color: black;
}

.select-wrapper {
  max-width: 500px;
  margin: 50px auto;

}

.select-menu {
  width: 400px;
  margin: 0 auto;
}

.degree-listing-wrapper {
  margin: 1em;
}

.degree-listing-flex {
  width: 80%;
  margin-left: 10%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.degree-listing-name {
  flex-basis: 60%;
  font-size: 2em;
  font-weight: 400;
  text-align: left;
}

.degree-listing-learn {
  padding: .5em;
  cursor: pointer;
}

.degree-listing-view {
  padding: .5em;
}

.degree-listing-link {
  padding: .5em;
}

.degree-listing-desc {
  margin-left: 10%;
  text-align: left;
  width: 70%;
}

.info-icon {
  width: 20px;
}

.arrow-icon {
  width: 10px;
}
